<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lekkiforum.profilerapp">
<!--use internet-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--User List Activity-->
        <activity android:name=".Activities.UserListActivity" android:label="Item List" />

<!--Socket activity -->
        <activity android:name=".Activities.SocketActivity" android:label="Connect"></activity>
        
<!--Online users activity-->
        <activity android:name=".Activities.OnlineUserActivity" android:label="Online users"></activity>

<!--Launcher-->
        <activity
            android:name=".Activities.WelcomeActivity"
            android:label="Profiler App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>